# compiled output
api/dist
api/node_modules
api/build
client/dist
client/node_modules
client/build

# Logs
logs
**.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
api/coverage
api/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
api/.env
api/.env.development.local
api/.env.test.local
api/.env.production.local
api/.env.local
client/.env
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.env.local

# temp directory
api/.temp
api/.tmp
client/.temp
client/.tmp

# Runtime data
api/pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
